@import "normalize.css";
@import "../styles/palette.css";

:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

* {
    &,
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    font-size: 100%;
    line-height: 1.5;
    background-image:
        linear-gradient(45deg, var(--pink-1) 25%, transparent 25%, transparent 75%, var(--pink-1) 75%, var(--pink-1)),
        linear-gradient(45deg, var(--pink-1) 25%, transparent 25%, transparent 75%, var(--pink-1) 75%, var(--pink-1));
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
}

button,
input,
select,
textarea {
    font-family: var(--font-family);
}
