@import "normalize.css";

* {
    &,
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
