.button {
    position: relative;
    display: inline-block;
    border-style: solid;
    background: transparent;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    transition: all 0.1s linear;
}
