@import "colors.css";

:root {
    --white: #ffffff;
    --black: #000000;

    /* default */
    --default-base-color: var(--gray-4);
    --default-light-color: var(--gray-3);
    --default-dark-color: var(--gray-5);

    /* primary */
    --primary-base-color: var(--blue-7);
    --primary-light-color: var(--blue-6);
    --primary-dark-color: var(--blue-8);

    /* success */
    --success-base-color: var(--lime-7);
    --success-light-color: var(--lime-6);
    --success-dark-color: var(--lime-8);

    /* danger */
    --danger-base-color: var(--red-7);
    --danger-light-color: var(--red-6);
    --danger-dark-color: var(--red-8);

    /* warning */
    --warning-base-color: var(--orange-7);
    --warning-light-color: var(--orange-6);
    --warning-dark-color: var(--orange-8);

    /* info */
    --info-base-color: var(--teal-7);
    --info-light-color: var(--teal-6);
    --info-dark-color: var(--teal-8);

    /* inverse */
    --inverse-base-color: var(--gray-8);
    --inverse-light-color: var(--gray-7);
    --inverse-dark-color: var(--gray-9);
}
