:root {
    /* h1 */
    --text-size-1-font-size: 0;
    --text-size-1-line-height: 0;

    /* h2 */
    --text-size-2-font-size: 0;
    --text-size-2-line-height: 0;

    /* h3 */
    --text-size-3-font-size: 0;
    --text-size-3-line-height: 0;

    /* h4 */
    --text-size-4-font-size: 0;
    --text-size-4-line-height: 0;

    /* h5 */
    --text-size-5-font-size: 1rem;
    --text-size-5-line-height: 1.5rem;

    /* h6 */
    --text-size-6-font-size: 0.675rem;
    --text-size-6-line-height: 1rem;
}
